[discord]
# Discord bot access token
# Get it from https://discordapp.com/developers/applications/XXXXXXXXXXXXXXXXXX/bots
token=
# Discord bot default output channel id
# Get it by right-clicking on text channel in Discord -> Copy id
channel=

[mumble]
# Mumble bot server hostname
server=
# Mumble bot server port
port=
# Mumble bot output channel name
channel=
# Mumble bot nickname
nickname=
# Mumble bot or server password
password=
