[discord]
# Discord bot access token
# Get it from https://discordapp.com/developers/applications/XXXXXXXXXXXXXXXXXX/bots
token=
# Discord bot guild id
# Get it by right-clicking on server in Discord -> Copy id
guild_id=
# Discord bot private output channel name
channel_name=
# Discord bot subscriber role name
# Members are allowed to read private output channel
role_name=

[mumble]
# Mumble bot server hostname
server=
# Mumble bot server port
port=
# Mumble bot output channel name
channel=
# Mumble bot nickname
nickname=
# Mumble bot or server password
password=
